<a href="https://colab.research.google.com/github/eslemnurdogan/data_visu/blob/main/market.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

df = pd.read_csv('/content/Market_Basket_Optimisation.csv', header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df['Transactions']= df.values.tolist()
df['Transactions'] = df['Transactions'].apply(lambda x: [i for i in x if str(i) != "nan"])
df['Transactions']

0       [shrimp, almonds, avocado, vegetables mix, gre...
1                              [burgers, meatballs, eggs]
2                                               [chutney]
3                                       [turkey, avocado]
4       [mineral water, milk, energy bar, whole wheat ...
                              ...
7496                    [butter, light mayo, fresh bread]
7497    [burgers, frozen vegetables, eggs, french frie...
7498                                            [chicken]
7499                                [escalope, green tea]
7500    [eggs, frozen smoothie, yogurt cake, low fat y...
Name: Transactions, Length: 7501, dtype: object

In [ ]:
transactions= list(df['Transactions'])
transactions.count(['burgers','meatballs','eggs'])

1

In [ ]:
from itertools import permutations

In [ ]:
unique_items = [item for transaction in transactions for item in transaction]

In [ ]:
unique_item_list=list(set(unique_items))
rules= list(permutations(unique_item_list,2))
print(len(rules))

14280

In [ ]:
from mlxtend.preprocessing import TransactionEncoder
encoder = TransactionEncoder().fit(transactions)
onehot=encoder.transform(transactions)
onehot = pd.DataFrame(onehot, columns=encoder.columns_).astype(int)

In [ ]:
print(onehot.mean())

 asparagus           0.000133
almonds              0.020397
antioxydant juice    0.008932
asparagus            0.004666
avocado              0.033329
                       ...
whole wheat pasta    0.029463
whole wheat rice     0.058526
yams                 0.011465
yogurt cake          0.027330
zucchini             0.009465
Length: 120, dtype: float64

In [ ]:
print(onehot)

       asparagus  almonds  antioxydant juice  asparagus  avocado  babies food  \
0              0        1                  1          0        1            0
1              0        0                  0          0        0            0
2              0        0                  0          0        0            0
3              0        0                  0          0        1            0
4              0        0                  0          0        0            0
...          ...      ...                ...        ...      ...          ...
7496           0        0                  0          0        0            0
7497           0        0                  0          0        0            0
7498           0        0                  0          0        0            0
7499           0        0                  0          0        0            0
7500           0        0                  0          0        0            0

      bacon  barbecue sauce  black tea  blueberries  ...  turkey  \
0         0               0          0            0  ...       0
1         0               0          0            0  ...       0
2         0               0          0            0  ...       0
3         0               0          0            0  ...       1
4         0               0          0            0  ...       0
...     ...             ...        ...          ...  ...     ...
7496      0               0          0            0  ...       0
7497      0               0          0            0  ...       0
7498      0               0          0            0  ...       0
7499      0               0          0            0  ...       0
7500      0               0          0            0  ...       0

      vegetables mix  water spray  white wine  whole weat flour  \
0                  1            0           0                 1
1                  0            0           0                 0
2                  0            0           0                 0
3                  0            0           0                 0
4                  0            0           0                 0
...              ...          ...         ...               ...
7496               0            0           0                 0
7497               0            0           0                 0
7498               0            0           0                 0
7499               0            0           0                 0
7500               0            0           0                 0

      whole wheat pasta  whole wheat rice  yams  yogurt cake  zucchini
0                     0                 0     1            0         0
1                     0                 0     0            0         0
2                     0                 0     0            0         0
3                     0                 0     0            0         0
4                     0                 1     0            0         0
...                 ...               ...   ...          ...       ...
7496                  0                 0     0            0         0
7497                  0                 0     0            0         0
7498                  0                 0     0            0         0
7499                  0                 0     0            0         0
7500                  0                 0     0            1         0

[7501 rows x 120 columns]

In [ ]:
onehot['eggs_&_ground beef'] = np.logical_and(onehot['eggs'],onehot['ground beef'])
print(onehot['eggs_&_ground beef'].mean())

0.019997333688841486

In [ ]:
onehot=onehot.drop('eggs_&_ground beef', axis=1)

In [ ]:
onehot.head() n_gram

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,0,1,1,0,1,0,0,0,0,0,...,0,1,0,0,1,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [ ]:
sup_eggs_groundbeef=np.logical_and(onehot['eggs'],onehot['ground beef']).mean()
sup_eggs=onehot['eggs'].mean()
sup_groundbeef=onehot['ground beef'].mean()
print(sup_eggs_groundbeef)
#destek

0.019997333688841486

In [ ]:
conf_eggs_to_groundbeef = sup_eggs_groundbeef/sup_eggs
conf_eggs_to_groundbeef/sup_eggs
print(conf_eggs_to_groundbeef)
#güven

0.11127596439169138

In [ ]:
lift_eggs_to_groundbeef=conf_eggs_to_groundbeef/sup_groundbeef
print(lift_eggs_to_groundbeef)

1.132538682363741

In [ ]:
frequent_itemsets=apriori(onehot,min_support=0.0005,
                          max_len=4,use_colnames=True)

In [ ]:
print(len(frequent_itemsets))

19788

In [ ]:
print(frequent_itemsets.head())

    support             itemsets
0  0.020397            (almonds)
1  0.008932  (antioxydant juice)
2  0.004666          (asparagus)
3  0.033329            (avocado)
4  0.004533        (babies food)

In [ ]:
frequent_itemsets.tail()

        support                                           itemsets
19783  0.000533                (tomatoes, soup, turkey, spaghetti)
19784  0.000533      (tomatoes, turkey, spaghetti, vegetables mix)
19785  0.000667    (tomatoes, spaghetti, turkey, whole wheat rice)
19786  0.000667  (tomatoes, spaghetti, vegetables mix, whole wh...
19787  0.000533  (tomatoes, turkey, whole wheat rice, vegetable...

In [ ]:
Rules= association_rules(frequent_itemsets,
                       metric="support",
                       min_threshold= 0.005)

NameError: ignored

In [ ]:
Rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(eggs),(chocolate),0.179709,0.163845,0.033196,0.184718,1.127397,0.003751,1.025603
1,(chocolate),(eggs),0.163845,0.179709,0.033196,0.202604,1.127397,0.003751,1.028711
2,(chocolate),(french fries),0.163845,0.170911,0.034395,0.209927,1.228284,0.006393,1.049383
3,(french fries),(chocolate),0.170911,0.163845,0.034395,0.201248,1.228284,0.006393,1.046827
4,(chocolate),(milk),0.163845,0.129583,0.032129,0.196094,1.513276,0.010898,1.082736
5,(milk),(chocolate),0.129583,0.163845,0.032129,0.247942,1.513276,0.010898,1.111823
6,(chocolate),(mineral water),0.163845,0.238368,0.052660,0.321400,1.348332,0.013604,1.122357
7,(mineral water),(chocolate),0.238368,0.163845,0.052660,0.220917,1.348332,0.013604,1.073256
8,(chocolate),(spaghetti),0.163845,0.174110,0.039195,0.239219,1.373952,0.010668,1.085581
9,(spaghetti),(chocolate),0.174110,0.163845,0.039195,0.225115,1.373952,0.010668,1.079070
10,(eggs),(french fries),0.179709,0.170911,0.036395,0.202522,1.184961,0.005681,1.039640
11,(french fries),(eggs),0.170911,0.179709,0.036395,0.212949,1.184961,0.005681,1.042232
12,(eggs),(milk),0.179709,0.129583,0.030796,0.171365,1.322437,0.007509,1.050423
13,(milk),(eggs),0.129583,0.179709,0.030796,0.237654,1.322437,0.007509,1.076009
14,(eggs),(mineral water),0.179709,0.238368,0.050927,0.283383,1.188845,0.008090,1.062815
15,(mineral water),(eggs),0.238368,0.179709,0.050927,0.213647,1.188845,0.008090,1.043158
16,(eggs),(spaghetti),0.179709,0.174110,0.036528,0.203264,1.167446,0.005239,1.036592
17,(spaghetti),(eggs),0.174110,0.179709,0.036528,0.209801,1.167446,0.005239,1.038081
18,(french fries),(mineral water),0.170911,0.238368,0.033729,0.197348,0.827912,-0.007011,0.948894
19,(mineral water),(french fries),0.238368,0.170911,0.033729,0.141499,0.827912,-0.007011,0.965741
20,(frozen vegetables),(mineral water),0.095321,0.238368,0.035729,0.374825,1.572463,0.013007,1.218270
21,(mineral water),(frozen vegetables),0.238368,0.095321,0.035729,0.149888,1.572463,0.013007,1.064189
22,(green tea),(mineral water),0.132116,0.238368,0.031063,0.235116,0.986357,-0.000430,0.995748
23,(mineral water),(green tea),0.238368,0.132116,0.031063,0.130313,0.986357,-0.000430,0.997927
24,(ground beef),(mineral water),0.098254,0.238368,0.040928,0.416554,1.747522,0.017507,1.305401
25,(mineral water),(ground beef),0.238368,0.098254,0.040928,0.171700,1.747522,0.017507,1.088672
26,(ground beef),(spaghetti),0.098254,0.174110,0.039195,0.398915,2.291162,0.022088,1.373997
27,(spaghetti),(ground beef),0.174110,0.098254,0.039195,0.225115,2.291162,0.022088,1.163716
28,(milk),(mineral water),0.129583,0.238368,0.047994,0.370370,1.553774,0.017105,1.209650
29,(mineral water),(milk),0.238368,0.129583,0.047994,0.201342,1.553774,0.017105,1.089850
30,(spaghetti),(milk),0.174110,0.129583,0.035462,0.203675,1.571779,0.012900,1.093043
31,(milk),(spaghetti),0.129583,0.174110,0.035462,0.273663,1.571779,0.012900,1.137061
32,(pancakes),(mineral water),0.095054,0.238368,0.033729,0.354839,1.488616,0.011071,1.180529
33,(mineral water),(pancakes),0.238368,0.095054,0.033729,0.141499,1.488616,0.011071,1.054100
34,(spaghetti),(mineral water),0.174110,0.238368,0.059725,0.343032,1.439085,0.018223,1.159314
35,(mineral water),(spaghetti),0.238368,0.174110,0.059725,0.250559,1.439085,0.018223,1.102008

In [ ]:
a = [
    (Rules['lift'] >= 2) &
    (Rules['confidence'] >= 0.02)
]
a

[0        True
 1        True
 2       False
 3       False
 4       False
         ...
 1935     True
 1936     True
 1937     True
 1938     True
 1939     True
 Length: 1940, dtype: bool]

In [ ]:
df_results = pd.DataFrame(Rules)
df_results

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(burgers),(almonds),0.087188,0.020397,0.005199,0.059633,2.923577,0.003421,1.041724
1,(almonds),(burgers),0.020397,0.087188,0.005199,0.254902,2.923577,0.003421,1.225089
2,(chocolate),(almonds),0.163845,0.020397,0.005999,0.036615,1.795099,0.002657,1.016834
3,(almonds),(chocolate),0.020397,0.163845,0.005999,0.294118,1.795099,0.002657,1.184553
4,(eggs),(almonds),0.179709,0.020397,0.006532,0.036350,1.782108,0.002867,1.016555
...,...,...,...,...,...,...,...,...,...
1935,"(olive oil, spaghetti)",(pancakes),0.022930,0.095054,0.005066,0.220930,2.324260,0.002886,1.161572
1936,"(pancakes, spaghetti)",(olive oil),0.025197,0.065858,0.005066,0.201058,3.052910,0.003407,1.169224
1937,(olive oil),"(pancakes, spaghetti)",0.065858,0.025197,0.005066,0.076923,3.052910,0.003407,1.056037
1938,(pancakes),"(olive oil, spaghetti)",0.095054,0.022930,0.005066,0.053296,2.324260,0.002886,1.032075
1939,(spaghetti),"(olive oil, pancakes)",0.174110,0.010799,0.005066,0.029096,2.694478,0.003186,1.018846

In [ ]:
frequent_itemsets

        support                                           itemsets
0      0.020397                                          (almonds)
1      0.008932                                (antioxydant juice)
2      0.004666                                        (asparagus)
3      0.033329                                          (avocado)
4      0.004533                                      (babies food)
...         ...                                                ...
19783  0.000533                (tomatoes, soup, turkey, spaghetti)
19784  0.000533      (tomatoes, turkey, spaghetti, vegetables mix)
19785  0.000667    (tomatoes, spaghetti, turkey, whole wheat rice)
19786  0.000667  (tomatoes, spaghetti, vegetables mix, whole wh...
19787  0.000533  (tomatoes, turkey, whole wheat rice, vegetable...

[19788 rows x 2 columns]

In [ ]:
average_support = frequent_itemsets['support'].mean()
print("Average Support:", average_support)

Average Support: 0.0015063620518005452

In [ ]:
frequent_itemsets.tail()

        support                                           itemsets
19783  0.000533                (tomatoes, soup, turkey, spaghetti)
19784  0.000533      (tomatoes, turkey, spaghetti, vegetables mix)
19785  0.000667    (tomatoes, spaghetti, turkey, whole wheat rice)
19786  0.000667  (tomatoes, spaghetti, vegetables mix, whole wh...
19787  0.000533  (tomatoes, turkey, whole wheat rice, vegetable...